
.btn {
    margin-bottom: 20px;
}

.user-form {
    margin-bottom: 20px;
}

.calc {
    width: 280px;     
    margin-bottom: 20px;
}

.calc-result {
    background-color: transparent;
    border: none;
    outline: none;
}